[options]
resize_grip = false
scroll_on_output = false
scroll_on_keystroke = true
audible_bell = false
visible_bell = false
mouse_autohide = false
allow_bold = true
dynamic_title = true
urgent_on_bell = true
clickable_url = true
font = Dejavu Sans Mono 11
scrollback_lines = 1000
search_wrap = true
#icon_name = terminal

# 0.0: opaque, 1.0: transparent
transparency = 0.0

# "system", "on" or "off"
#cursor_blink = system

# "block", "underline" or "ibeam"
cursor_shape = block

# $BROWSER is used by default
#browser = firefox

# termite has the correct terminfo, but some applications hardcode TERM checks
#term = termite

# word characters used for word selection
# (default if unset: all graphic non-punctuation/space characters)
#word_chars = -A-Za-z0-9,./?%&#:_=+@~

[colors]
foreground = #c7c7c7
foreground_bold = #ffffff
#foreground_dim = #888888
background = #000000
cursor = #ffaf00

# colors from color0 to color254 can be set
color0 = #000000
color1 = #bd484a
color2 = #66994e
color3 = #c4a043
color4 = #567b94
color5 = #bb88dd
color6 = #00bbdd
color7 = #c7c7c7
color8 = #999999
color9 = #f55d60
color10 = #93db6f
color11 = #f0c452
color12 = #7cb2d6
color13 = #d7afd7
color14 = #0debff
color15 = #d9d9d9
